#mainDiv {
}

table {
	margin: 50px 80px 0px 50px;
	border-collapse: collapse;

	font-family: arial;
	font-size: 80%;
	text-align: center;
	text-wrap: break-word;
	cursor: pointer;

	/* unselectable text */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

tbody {
	float: left;
	display: table-row-group;
}

th {
	background-color: Gray;
	border: 1px solid black;
	padding: 3px;
}

td {
	display: table-cell;
	border: 1px solid black;
	padding: 5px;
	background-color: LightGray;
	visibility: hidden;
}

td:hover,
td.fakeHover {
	background-color: Gray;
}

td.greenCell {
	background-color: LightGreen;
}

td.greenCell:hover,
td.greenCell.fakeHover {
	background-color: Green;
}

td.redCell {
	background-color: LightCoral;
}
td.redCell:hover {
	background-color: Red;
}

#cardPanel {
	display: inline-block;
}
#rightPanel {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

#newCardBtn {
	padding: 10px;
	margin-left: 2em;
	margin-bottom: 2em;
}

h2 {
	font-family: arial;
	font-size: 150%;
}

#aboutText {
	font-size: 80%;
	font-family: arial;
	line-height: 1.5em;
}

#creditText {
	font-size: 70%;
	font-family: arial;
	position: absolute;
	bottom: 0px;
}
